body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #e6f2ff;
  background-image: url("https://marketplace.canva.com/EAGB49xT5-k/2/0/900w/canva-blue-abstract-aesthetic-phone-wallpaper-6dhhP1KzjwY.jpg");
  color: #003366;
  text-align: center;
}

/* Top navigation bar */
.top-bar {
  background-color: #003366;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
}

/* Header section with image */
.main-header {
  position: relative;
  background: url('https://wallpaperaccess.com/full/1891157.jpg') no-repeat center center/cover;
  color: white;
  padding: 100px 20px;
}

.main-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://marketplace.canva.com/EAFJ-6rl9Q8/1/0/1600w/canva-blue-chalk-inspirational-quotes-desktop-wallpaper-_W9QJokBsD0.jpg");
  background-color: rgba(0, 0, 0, 0.5); /* dark overlay */
  z-index: 0;
}

.main-header h1,
.main-header p {
  position: relative;
  z-index: 1;
}

.main-header h1 {
  font-size: 3.5rem;
  margin: 0;
}

.subtitle {
  font-style: italic;
  font-size: 1.4rem;
  margin-top: 10px;
}

/* Buttons */
.nav-buttons {
  margin: 30px 0;
}

.btn {
  display: inline-block;
  background-color: #01274f;
  border: 2px solid #007acc;
  color: #f4f4f5;
  border-radius: 25px;
  padding: 10px 25px;
  margin: 10px;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #01375b;
  color: white;
}

/* Footer */
footer {
  background-image: url("https://images.pexels.com/photos/1147124/pexels-photo-1147124.jpeg?cs=srgb&dl=pexels-mattycphoto-1147124.jpg&fm=jpg");
  padding: 20px;
  font-size: 1rem;
  margin-top: 50px;
}
.quote-box {
  background-color: #759ef5;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}
img {
  border: 2px solid #01274f;
  border-radius:50%;

}